<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path 'cocktails.jpg', alt: 'Cocktails' %>');">
  <div class="container">
    <h1><strong>Mister Cocktail </strong> - best cocktails ever!</h1>
  </div>
</div>

<div class="container d-flex justify-content-between mt-4">
  <h3>Our Cocktails</h3>
  <div class="link">
    <%= link_to 'Add a new Cocktail', new_cocktail_path, class: 'btn btn-outline-primary mr-3' %>
  </div>
</div>

<div class="container d-flex flex-wrap">
   <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), style: 'text-decoration: none; width: 25%' do%>
      <% if cocktail.photo.attached? %>
        <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
      <% else %>
        <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/800x450/?<%= cocktail.name %>')">
      <% end %>
        <%= cocktail.name %>
      </div>
    <% end %>
  <% end %>
</div>

