<% if @cocktail.photo.attached? %>
        <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="banner banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('('<%= cl_image_path cocktail.photo.key %>');">
      <% else %>
  <div class="banner banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/800x450/?<%= @cocktail.name %>');">
<% end %>
    <div class="container">
      <h1><strong><%= @cocktail.name %></strong> - so delicious!</h1>
       <div class="cocktail-detail" style="color: white">
          <h3>Ingredients</h3>
          <% @cocktail.doses.each do |dose| %>
            <p class="ml-3" style="font-size: 20px;"><i class="fas fa-cocktail"></i> <%= dose.description %> <%= dose.ingredient.name %>
              <%= link_to dose_path(dose),
                method: :delete,
                data: { confirm: "Are you sure?" } do %>
                  <i class='far fa-trash-alt' style="color: white"></i>
                <% end %>
            </p>
          <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <h3 class='m-4'><%= link_to 'Back to Cocktail List', cocktails_path %></h3>
  </div>

  <div class="container">
    <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
  </div>
</div>

